spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: true

#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:testdb
#    username: sa
#    password:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://velog-db.cy2jtmlet03t.ap-northeast-2.rds.amazonaws.com:3306/security
    username: woojin126
    password: 47429468bb
  jpa:
    hibernate:
      ddl-auto: update

    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000

cloud:
  aws:
    credentials:
      accessKey:
      secretKey: 
      bucket: velog-bucket-s3
    region:
      static: ap-northeast-2
    stack:
      auto: false
