spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: true

  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop

    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000