spring:
  mvc:
    hiddenmethod:
      filter:
        enabled: true

  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create

    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000

cloud:
  aws:
    credentials:
      accessKey: AKIAYKSSJWNXHKNT3QZL
      secretKey: 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
    s3:
      bucket: velog-bucket-s3
    region:
      static: ap-northeast-2
    stack:
      auto: false